@each $name, $bg-color in $m-array-background-colors {
	.bg-#{$name} {
		background: $bg-color;
	}
	@if $m-array-background-color-variations == true {
		@for $i from 1 through 5 {
			.bg-#{$name}-to-bg-#{$i} {
				background: mix($m-background, $bg-color, $i*17);
				color: $m-color;
			}
			.bg-#{$name}-to-txt-#{$i} {
				background: mix($m-color, $bg-color, $i*15);
				color: $m-background;
			}
		}
	}
}
