@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|PT+Serif');

$m-background:  			#0a0838;
$m-color:       			#ffb9b9;
$m-primary:						#ff5252;

$m-font-family: 			'Open Sans', sans-serif;
$m-font-size:       	16px;
$m-font-weight:     	400;
$m-letter-spacing:  	normal;
$m-line-height:     	1.5em;

$m-code-family: 			monospace;

$m-em-family: 				'PT Serif', serif;

$m-h-family: 					'Josefin Sans', sans-serif;
$m-h-size:   					23px;
$m-h-height: 					1em;
$m-h-spacing:					normal;
$m-h-weight: 					600;
$m-h-style:  					normal;
$m-h-transform:  			normal;


// core and color
$m-secondary:               #f69c9b;
$m-accent:                  #5252ff;
$m-note:                    mix(#aaa, $m-primary, 90%);
$m-error:                   mix(#f10, $m-primary, 80%);
$m-success:                 mix(#1e1, $m-primary, 70%);
$m-warning:                 mix(#fa3, $m-primary, 95%);

$m-container-border-width:  1px;
$m-container-border-style:  solid;


// color
$m-array-background-color-variations: true;
$m-array-background-colors:
  (primary,   $m-primary),
  (secondary, $m-secondary),
  (accent,    $m-accent);

$m-array-border-color-variations: true;
$m-array-border-colors:
  (primary,   $m-primary),
  (secondary, $m-secondary),
  (accent,    $m-accent);

$m-underline-height: 4px;
$m-underline-width: 20px;
$m-array-line-colors:
  (primary,   $m-primary),
  (secondary, $m-secondary),
  (accent,    $m-accent);

$m-array-text-colors:
  (primary,   $m-primary),
  (secondary, $m-secondary),
  (accent,    $m-accent),
  (background,$m-background);

//mix-blend-mode: normal|multiply|screen|overlay|darken|lighten|color-dodge|color-burn|difference|exclusion|hue|saturation|color|luminosity;
$m-array-img-blend:
  (multiply, multiply),
  (screen, screen),
  (lighten, lighten),
  (difference, difference),
  (burn, color-burn);
