/*
 * mol.colors v1.1.0
 * editable color palette module of mol project
 * MIT License
 * https://github.com/mol-project
 */
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|PT+Serif");
button,
input,
textarea,
select,
output, summary, body {
  color: #222029;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

button,
input,
textarea,
select,
output, summary, a {
  cursor: pointer;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  text-rendering: optimizeLegibility;
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.89);
}
button:active,
input:active,
textarea:active,
select:active,
output:active, summary:active, a:active, button:hover,
input:hover,
textarea:hover,
select:hover,
output:hover, summary:hover, a:hover, button:focus,
input:focus,
textarea:focus,
select:focus,
output:focus, summary:focus, a:focus {
  outline-width: 0;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1em;
  text-rendering: optimizeLegibility;
  text-transform: normal;
}

h1 {
  font-size: 69px;
}

h2 {
  font-size: 57.5px;
}

h3 {
  font-size: 46px;
}

h4 {
  font-size: 32.2px;
}

h5 {
  font-size: 27.6px;
}

h6 {
  font-size: 23px;
}

a {
  background-size: 100% 200%;
  background-image: linear-gradient(0deg, #32bdc6 50%, transparent 50%);
  background-position: 0 -1px;
  color: #32bdc6;
  font-size: inherit;
  font-weight: normal;
  text-decoration: none;
}
a.hover, a:active, a:hover, a:focus {
  color: #fff;
  background-position: 0 -100%;
  text-decoration: none;
}

article,
aside,
blockquote,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

details {
  margin: 1.5em 0 3em;
}

summary {
  color: rgba(34, 32, 41, 0.5);
  display: list-item;
  margin: 1.5em 0 0;
}
summary:focus, summary:hover {
  color: #222029;
}

blockquote {
  margin: 3em;
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 1.1em;
}

form,
figure {
  margin: 1.5em 0;
}

figcaption {
  font-size: 0.8em;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

audio,
canvas,
iframe,
video {
  vertical-align: middle;
}

progress {
  vertical-align: baseline;
}

abbr,
ins {
  text-decoration: none;
}

abbr {
  border-bottom: 1px dotted #222029;
  cursor: help;
}

ins {
  border-bottom: 1px dashed #222029;
}

b,
strong {
  font-weight: 900;
}

dfn,
i,
em,
cite,
q {
  font-family: "PT Serif", serif;
  font-style: italic;
}

small {
  font-size: 0.7em;
}

sub,
sup {
  font-size: 0.7em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

code,
kbd,
pre,
samp,
var,
mark {
  font-family: monospace;
  font-size: 0.9em;
  font-weight: normal;
  padding: 0.4em 0.9em;
  display: inline-block;
  margin: 0.2em 0;
}

code {
  background: rgba(34, 32, 41, 0.05);
}

kbd {
  background: #131a1a;
  color: #d4dbdc;
}

pre {
  background: rgba(34, 32, 41, 0.05);
  margin: 1.5em 0;
  padding: 1em;
  display: block;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

hr {
  border: none;
  border-top: 1px solid rgba(34, 32, 41, 0.2);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin: 3em 0;
}

img {
  border-style: none;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
textarea,
select,
output {
  padding: 0.4em 0.8em;
  display: inline-block;
  margin: 0.2em 0;
}

[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=file],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
  border: 1px solid rgba(34, 32, 41, 0.3);
}
[type=date].hover, [type=date]:focus, [type=date]:hover,
[type=datetime].hover,
[type=datetime]:focus,
[type=datetime]:hover,
[type=datetime-local].hover,
[type=datetime-local]:focus,
[type=datetime-local]:hover,
[type=email].hover,
[type=email]:focus,
[type=email]:hover,
[type=file].hover,
[type=file]:focus,
[type=file]:hover,
[type=month].hover,
[type=month]:focus,
[type=month]:hover,
[type=number].hover,
[type=number]:focus,
[type=number]:hover,
[type=password].hover,
[type=password]:focus,
[type=password]:hover,
[type=search].hover,
[type=search]:focus,
[type=search]:hover,
[type=tel].hover,
[type=tel]:focus,
[type=tel]:hover,
[type=text].hover,
[type=text]:focus,
[type=text]:hover,
[type=time].hover,
[type=time]:focus,
[type=time]:hover,
[type=url].hover,
[type=url]:focus,
[type=url]:hover,
[type=week].hover,
[type=week]:focus,
[type=week]:hover,
textarea.hover,
textarea:focus,
textarea:hover,
select.hover,
select:focus,
select:hover {
  border-color: rgba(34, 32, 41, 0.7);
}

output {
  border-bottom: 1px solid rgba(34, 32, 41, 0.5);
  cursor: text;
  display: inline-block;
  vertical-align: bottom;
}

[type=file] {
  display: inline-flex;
  align-items: center;
  padding-top: calc(.4em + 4px);
  padding-bottom: 0.4em;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: textfield;
  background-image: linear-gradient(45deg, transparent 50%, rgba(34, 32, 41, 0.5) 50%), linear-gradient(-45deg, transparent 50%, rgba(34, 32, 41, 0.5) 50%);
  background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  padding-right: 30px;
  display: inline-block;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  background-size: 100% 200%;
  background-image: linear-gradient(0deg, #32bdc6 50%, #fff 50%);
  background-position: 0 100%;
  border: 1px solid #32bdc6;
  color: #fff;
}
button.hover, button:focus, button:hover,
input[type=button].hover,
input[type=button]:focus,
input[type=button]:hover,
input[type=reset].hover,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=submit].hover,
input[type=submit]:focus,
input[type=submit]:hover {
  background-position: 0 0;
  color: #32bdc6;
}

button::-moz-focus-inner,
input::-moz-focus-inner,
textarea::-moz-focus-inner,
select::-moz-focus-inner {
  border: 0;
}

fieldset {
  border: 1px solid rgba(34, 32, 41, 0.2);
  margin: 1.5em 0;
  padding: 0.35em 0.7em 0.7em;
  display: block;
}

input[type=checkbox],
input[type=radio] {
  padding: 0;
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tbody tr,
tfoot tr {
  border-top: 1px solid rgba(34, 32, 41, 0.2);
}

th, td {
  padding: 0.4em 0.8em;
}

.bussy,
[aria-busy=true] {
  cursor: progress !important;
}

.controls,
[aria-controls] {
  cursor: pointer !important;
}

.disabled,
[aria-disabled],
[disabled],
[disabled]:active,
[disabled]:focus,
[disabled]:hover {
  cursor: default !important;
  opacity: 0.3 !important;
  pointer-events: none !important;
}

.hidden,
[hidden] {
  display: none !important;
  pointer-events: none !important;
}

.readonly,
[readonly] {
  border-color: rgba(34, 32, 41, 0.15);
  cursor: default !important;
  pointer-events: none !important;
}

::-webkit-selection {
  background-color: #222029;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background-color: #222029;
  color: #fff;
  text-shadow: none;
}

::selection {
  background-color: #222029;
  color: #fff;
  text-shadow: none;
}

.bg-primary {
  background: #32bdc6;
}

.bg-primary-light-1 {
  background: #dcf4f5;
  color: #222029;
}

.bg-primary-dark-1 {
  background: #30a5ae;
  color: #fff;
}

.bg-primary-light-2 {
  background: #b9e9ec;
  color: #222029;
}

.bg-primary-dark-2 {
  background: #2d8e97;
  color: #fff;
}

.bg-primary-light-3 {
  background: #96dde2;
  color: #222029;
}

.bg-primary-dark-3 {
  background: #2b767f;
  color: #fff;
}

.bg-primary-light-4 {
  background: #74d2d8;
  color: #222029;
}

.bg-primary-dark-4 {
  background: #285f68;
  color: #fff;
}

.bg-primary-light-5 {
  background: #51c7cf;
  color: #222029;
}

.bg-primary-dark-5 {
  background: #264750;
  color: #fff;
}

.bg-secondary {
  background: #009DCE;
}

.bg-secondary-light-1 {
  background: #d4eef7;
  color: #222029;
}

.bg-secondary-dark-1 {
  background: #058ab5;
  color: #fff;
}

.bg-secondary-light-2 {
  background: #a8deee;
  color: #222029;
}

.bg-secondary-dark-2 {
  background: #0a789d;
  color: #fff;
}

.bg-secondary-light-3 {
  background: #7dcde6;
  color: #222029;
}

.bg-secondary-dark-3 {
  background: #0f6584;
  color: #fff;
}

.bg-secondary-light-4 {
  background: #52bcde;
  color: #222029;
}

.bg-secondary-dark-4 {
  background: #14526b;
  color: #fff;
}

.bg-secondary-light-5 {
  background: #26acd5;
  color: #222029;
}

.bg-secondary-dark-5 {
  background: #1a3f52;
  color: #fff;
}

.bg-accent {
  background: #7175CB;
}

.bg-accent-light-1 {
  background: #e7e8f6;
  color: #222029;
}

.bg-accent-dark-1 {
  background: #6568b3;
  color: #fff;
}

.bg-accent-light-2 {
  background: #cfd0ed;
  color: #222029;
}

.bg-accent-dark-2 {
  background: #595c9a;
  color: #fff;
}

.bg-accent-light-3 {
  background: #b7b9e4;
  color: #222029;
}

.bg-accent-dark-3 {
  background: #4d4f82;
  color: #fff;
}

.bg-accent-light-4 {
  background: #9ea1dc;
  color: #222029;
}

.bg-accent-dark-4 {
  background: #42426a;
  color: #fff;
}

.bg-accent-light-5 {
  background: #868ad3;
  color: #222029;
}

.bg-accent-dark-5 {
  background: #363552;
  color: #fff;
}

[class^=border] {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(34, 32, 41, 0.07);
}

.border-top {
  border-width: 0;
  border-top-width: 1px;
}

.border-bottom {
  border-width: 0;
  border-bottom-width: 1px;
}

.border-right {
  border-width: 0;
  border-right-width: 1px;
}

.border-left {
  border-width: 0;
  border-left-width: 1px;
}

.border-primary {
  border-color: #32bdc6;
}

.border-primary-light-1 {
  border-color: #d8f2f4;
}

.border-primary-dark-1 {
  border-color: #2fa2ab;
}

.border-primary-light-2 {
  border-color: #b1e6e9;
}

.border-primary-dark-2 {
  border-color: #2d8891;
}

.border-primary-light-3 {
  border-color: #8ad9df;
}

.border-primary-dark-3 {
  border-color: #2a6d76;
}

.border-primary-light-4 {
  border-color: #63cdd4;
}

.border-primary-dark-4 {
  border-color: #27525b;
}

.border-primary-light-5 {
  border-color: #3cc0c9;
}

.border-primary-dark-5 {
  border-color: #243841;
}

.border-secondary {
  border-color: #009DCE;
}

.border-secondary-light-1 {
  border-color: #cfecf6;
}

.border-secondary-dark-1 {
  border-color: #0688b2;
}

.border-secondary-light-2 {
  border-color: #9edaec;
}

.border-secondary-dark-2 {
  border-color: #0c7396;
}

.border-secondary-light-3 {
  border-color: #6ec7e3;
}

.border-secondary-dark-3 {
  border-color: #115d7a;
}

.border-secondary-light-4 {
  border-color: #3db5da;
}

.border-secondary-dark-4 {
  border-color: #17485e;
}

.border-secondary-light-5 {
  border-color: #0da2d0;
}

.border-secondary-dark-5 {
  border-color: #1d3342;
}

.border-accent {
  border-color: #7175CB;
}

.border-accent-light-1 {
  border-color: #e4e5f5;
}

.border-accent-dark-1 {
  border-color: #6467af;
}

.border-accent-light-2 {
  border-color: #c9cbeb;
}

.border-accent-dark-2 {
  border-color: #565894;
}

.border-accent-light-3 {
  border-color: #aeb0e1;
}

.border-accent-dark-3 {
  border-color: #494a78;
}

.border-accent-light-4 {
  border-color: #9396d7;
}

.border-accent-dark-4 {
  border-color: #3b3b5d;
}

.border-accent-light-5 {
  border-color: #787cce;
}

.border-accent-dark-5 {
  border-color: #2e2d41;
}

[class^=line-] {
  position: relative;
}
[class^=line-]::after {
  background-color: rgba(34, 32, 41, 0.77);
  content: "";
  position: absolute;
  height: 4px;
  width: 20px;
  z-index: -1;
}

[class^=line-t]::after {
  top: -4px;
  left: 0;
}

[class^=line-r]::after {
  top: 45%;
  right: -22px;
}

[class^=line-b]::after {
  bottom: -4px;
  left: 0;
}

[class^=line-l]::after {
  top: 45%;
  left: -22px;
}

.line-t-primary::after,
.line-r-primary::after,
.line-b-primary::after,
.line-l-primary::after {
  background-color: #32bdc6;
}

.line-t-secondary::after,
.line-r-secondary::after,
.line-b-secondary::after,
.line-l-secondary::after {
  background-color: #009DCE;
}

.line-t-accent::after,
.line-r-accent::after,
.line-b-accent::after,
.line-l-accent::after {
  background-color: #7175CB;
}

.text-primary {
  color: #32bdc6;
}

.foreground-primary {
  position: relative;
  color: #32bdc6;
}
.foreground-primary:after {
  content: "";
  background: #dcf4f5;
  position: absolute;
  bottom: 0.55em;
  top: -0.1em;
  left: 0;
  right: 0;
  z-index: -1;
}

.highlight-primary {
  position: relative;
}
.highlight-primary:after {
  content: "";
  background: #32bdc6;
  position: absolute;
  bottom: 0.55em;
  top: -0.1em;
  left: 0;
  right: 0;
  z-index: -1;
}

.text-secondary {
  color: #009DCE;
}

.foreground-secondary {
  position: relative;
  color: #009DCE;
}
.foreground-secondary:after {
  content: "";
  background: #d4eef7;
  position: absolute;
  bottom: 0.55em;
  top: -0.1em;
  left: 0;
  right: 0;
  z-index: -1;
}

.highlight-secondary {
  position: relative;
}
.highlight-secondary:after {
  content: "";
  background: #009DCE;
  position: absolute;
  bottom: 0.55em;
  top: -0.1em;
  left: 0;
  right: 0;
  z-index: -1;
}

.text-accent {
  color: #7175CB;
}

.foreground-accent {
  position: relative;
  color: #7175CB;
}
.foreground-accent:after {
  content: "";
  background: #e7e8f6;
  position: absolute;
  bottom: 0.55em;
  top: -0.1em;
  left: 0;
  right: 0;
  z-index: -1;
}

.highlight-accent {
  position: relative;
}
.highlight-accent:after {
  content: "";
  background: #7175CB;
  position: absolute;
  bottom: 0.55em;
  top: -0.1em;
  left: 0;
  right: 0;
  z-index: -1;
}

.text-background {
  color: #fff;
}

.foreground-background {
  position: relative;
  color: #fff;
}
.foreground-background:after {
  content: "";
  background: white;
  position: absolute;
  bottom: 0.55em;
  top: -0.1em;
  left: 0;
  right: 0;
  z-index: -1;
}

.highlight-background {
  position: relative;
}
.highlight-background:after {
  content: "";
  background: #fff;
  position: absolute;
  bottom: 0.55em;
  top: -0.1em;
  left: 0;
  right: 0;
  z-index: -1;
}

.blend-multiply {
  mix-blend-mode: multiply;
}

.bg-blend-multiply {
  background-blend-mode: multiply;
}

.blend-screen {
  mix-blend-mode: screen;
}

.bg-blend-screen {
  background-blend-mode: screen;
}

.blend-lighten {
  mix-blend-mode: lighten;
}

.bg-blend-lighten {
  background-blend-mode: lighten;
}

.blend-difference {
  mix-blend-mode: difference;
}

.bg-blend-difference {
  background-blend-mode: difference;
}

.blend-burn {
  mix-blend-mode: color-burn;
}

.bg-blend-burn {
  background-blend-mode: color-burn;
}

.opacity-1 {
  opacity: 0.1;
}

.opacity-2 {
  opacity: 0.2;
}

.opacity-3 {
  opacity: 0.3;
}

.opacity-4 {
  opacity: 0.4;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-7 {
  opacity: 0.7;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-9 {
  opacity: 0.9;
}

.opacity-10 {
  opacity: 1;
}

/*# sourceMappingURL=color.css.map */
